.vscode/launch.json
bin/Debug/netcoreapp3.1/logical-exercise.dll
bin/Debug/netcoreapp3.1/logical-exercise.exe
bin/Debug/netcoreapp3.1/logical-exercise.pdb
bin/Debug/netcoreapp3.1/logical-exercise.runtimeconfig.dev.json
bin/Debug/netcoreapp3.1/logical-exercise.runtimeconfig.json
Algorithm/scan.py
bin/Debug/netcoreapp3.1/logical-exercise.deps.json
.vscode/tasks.json
obj/logical-exercise.csproj.nuget.dgspec.json
obj/logical-exercise.csproj.nuget.g.props
obj/logical-exercise.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/netcoreapp3.1/logical-exercise.AssemblyInfoInputs.cache
obj/Debug/netcoreapp3.1/logical-exercise.assets.cache
obj/Debug/netcoreapp3.1/logical-exercise.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp3.1/logical-exercise.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/logical-exercise.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/logical-exercise.dll
obj/Debug/netcoreapp3.1/logical-exercise.exe
obj/Debug/netcoreapp3.1/logical-exercise.genruntimeconfig.cache
obj/Debug/netcoreapp3.1/logical-exercise.pdb
obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
obj/Debug/netcoreapp3.1/logical-exercise.AssemblyInfo.cs
obj/Debug/netcoreapp3.1/apphost.exe
.vs/logical-exercise/config/applicationhost.config
.vs/logical-exercise/v16/.suo
packages
obj